<div class="container">
  <%= render 'filter' %>

  <% if @posts.empty? %>
    <br>
    <h3>No result found!</h3>
  <% else %>
      <table class="table table-hover table-condense">
        <thead>
          <tr>
            <th class="center">Preview</th>
            <th class="center" width=45%>Heading</th>
            <th class="center">Price</th>
            <th class="center">Beds</th>
            <th class="center">Baths</th>
            <th class="center">Neighborhood</th>
            <th class="center">Last updated</th>
          </tr>
        </thead>
      
        <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td width="13%" height= "120px" >
              <%= link_to post_path(post) do%>
                <% if post.images.empty? %>
                  <%#= TO DO %>
                  <%= image_tag "no-house-image.jpg", class: "thumbnail" %>
                <% else %>
                  <%= image_tag post.images.first.url, class: "thumbnail" %>
                <% end %>
              <% end %>
              </td>
              <td style="vertical-aligh:middle"><%= link_to post.heading, post  %></td>
              <td class="center" style="vertical-aligh:middle"><%= number_to_currency(post.price) %></td>
              <td class="center" style="vertical-aligh:middle"><%= post.bedrooms %></td>
              <td class="center" style="vertical-aligh:middle"><%= post.bathrooms %></td>
              <td class="center" style="vertical-aligh:middle"><%= post.neighborhood %></td>
              <td class="center" style="vertical-aligh:middle"><%= time_ago_in_words(Time.at(post.timestamp.to_i))+" ago" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
  
      <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
      
      <br>
      
      <%= link_to 'New Post', new_post_path %>
    <% end %>
</div>
